* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "font-family: Tahoma, sans-serif";
  scroll-behavior: smooth;
  overflow-y: visible;
  overflow-x: hidden;
}

a, a:hover, a:visited, a:active {
  overflow-x: hidden;
  color: white;
  text-decoration: none;
 }

.header {
  overflow-x: hidden;
  padding: 60px;
  text-align: center;
  background: #fafafa;
  color: white;
  font-size: 30px;
}

.navbar {
  overflow-x: hidden;
  background: #0D0D0D;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  overflow: hidden;
}

.navbar__container {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: -50%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__menu {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  overflow-x: hidden;
  height: 80px;
}

.navbar__links {
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease-in-out;
}


.Button {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  overflow-x: hidden;
  color: #36A0D9;
  transition: all 0.3s ease;
}

#log_button{
overflow-x: hidden;
position: absolute;
top: 17px;
right: calc(50% + 425px);
color: white;
top: 12px;
width: 140px;
height: 35px;
border-radius: 20px;
background-image: linear-gradient(45deg, #13a7d4, #14e6b1, #20a4c5);
font-size: 21px;
}

#button-text{
position: absolute;
top: 6px;
}

#stack {
  overflow-x: hidden;
  position: absolute;
  top: 10px;
  right: 80px;
}

#engineer {
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  right: 160px;
}

#twitter {
  overflow-x: hidden;
  position: absolute;
  top: 15px;
  right: 260px;
}



.Main {
  overflow-x: hidden;
  padding: auto;
  width: auto;
  height:7650px;
  background: linear-gradient(45deg, #000000, #141414, #1C1919, #191716);

}

.Text_4 {
  overflow-x: hidden;
  position: absolute;
  top: 1000px;
  right: calc(50% - 100px);
  font-size: 2.5em;

  /*background-image: linear-gradient(to right,#0F345C 0%, #297AA6 50%, #85CCF2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

}

.Text_3 {
  overflow-x: hidden;
  position: absolute;
  top: 825px;
  right: calc(50% - 150px);
  font-size: 2.5em;
  color: rgb(58, 135, 158);

}

.Text_2 {
  overflow-x: hidden;
  position: absolute;
  top: 240px;
  right: calc(50% - 425px);
  font-size: 1.8em;
  color: white;
}

.Text_1 {
  overflow-x: hidden;
  position: absolute;
  top: 325px;
  right: calc(50% - 335px);
  font-size: 4.0em;

  background-image: linear-gradient(45deg, #0F345C, #297AA6, #85CCF2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.Text_5 {
  overflow-x: hidden;
  position: absolute;
  top: 1700px;
  width: 2000px;
  height: 125px;
}

.line {
  overflow-x: hidden;
  position: absolute;
  top: 330px;
  right: calc(50% - 375px);
  font-size: 3.5em;
}

.page-header {
  overflow-x: hidden;
  max-width: 100%;
  min-height: 900px;
  height: 900px;

  background-image: url("data/pexels-photo-160107.jpeg");
  background-size: cover;
}



.services h1 {
  overflow-x: hidden;
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services__wrapper {
  overflow-x: hidden;
  position: absolute;
  top: 50px;
  right: calc(50% - 700px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  overflow-x: hidden;
  margin: 25px;
  height: 425px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #29445E 100%);
  transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
  overflow-x: hidden;
  background: #1fa2ff;
  background: -webkit-linear-gradient(to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff,
      #364559);
  background: linear-gradient(to right,
      #5FA1DE,
      #5FA1DE,
      #013566);
}

.services__card:nth-child(3) {
  overflow-x: hidden;
  background-image: linear-gradient(-225deg,
      #29445E 0%,
      #013566 29%,
      #5D84A6 67%,
      #364559 100%);
}

.services__card h2 {
  overflow-x: hidden;
  text-align: center;
}

.services__card p {
  overflow-x: hidden;
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__card:hover {
  overflow-x: hidden;
  overflow-y: hidden;
  transform: scale(1.02);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.picture_1:hover {
  overflow-x: hidden;
  overflow-y: hidden;
  transform: scale(1.02);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.picture_2:hover {
  overflow-x: hidden;
  overflow-y: hidden;
  transform: scale(1.02);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.picture_3:hover {
  overflow-x: hidden;
  overflow-y: hidden;
  transform: scale(1.02);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.picture_4:hover {
  overflow-x: hidden;
  overflow-y: hidden;
  transform: scale(1.02);
  transition: 0.3s ease-in;
  cursor: pointer;
}



.picture_1{
  overflow-x: hidden;
  position: absolute;
  top: 250px;
  right: calc(50% + 430px);
}

.picture_2{
  overflow-x: hidden;
  position: absolute;
  top: 280px;
  right: calc(50% + 100px);
}

.picture_3{
  overflow-x: hidden;
  position: absolute;
  top: 280px;
  right: calc(50% - 250px);
}

.picture_4{
  overflow-x: hidden;
  position: absolute;
  top: 280px;
  right: calc(50% - 600px);
}

.services_backround{
  overflow-x: hidden;
  position: absolute;
  top: 980px;
  right: 20px;
  height: 600px;
  width: calc(100% - 40px);
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: "4907157.jpg";
  background-color: white;
 
}


.about_linie_0{
  overflow-x: hidden;
  position: absolute;
  top: 1775px;
  right: 60px;
  height: 10px;
  width: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: white;
}

.about_linie_1{
  overflow-x: hidden;
    position: absolute;
    top: 2675px;
    right: 60px;
    height: 10px;
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: white;
}

.about_linie_2{
  overflow-x: hidden;
  position: absolute;
  top: 3475px;
  right: 60px;
  height: 10px;
  width: calc(100% - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: white;
}

.About__Header {
  overflow-x: hidden;
  position: absolute;
  top: 1850px;
  right: calc(50% - 200px);
  font-size: 4rem;
  color: #686767;
  text-shadow: 2px 2px 0px #1199c2, -2px -2px 0px #09e3eb, 0px 0px 8px #1c9ce6;
}

.Who_am_I {
  overflow-x: hidden;
  padding-right: 50px;
  position: absolute;
  top: 2125px;
  right: calc(50% - 375px);
  font-size: 2rem;

  color: white;

  background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Who_am_I_txt {
  overflow-x: visible;
  padding-right: 70px;
  position: absolute;
  top: 2225px;
  right: calc(50% - 720px);
  font-size: 1.5rem;
}

.About_1_Rahmen {
  overflow-x: hidden;
  padding-left: 50px;
  position: absolute;
  top: 2100px;
  right: calc(50% + 70px);
  margin: 10px;
  height: 450px;
  width: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.About_1_Bild {
  overflow-x: hidden;
  padding-left: 50px;
  position: absolute;
  top: 2200px;
  right: calc(50% + 15px);
}

.About_2_Rahmen {
  overflow-x: hidden;
  position: absolute;
  top: 2975px;
  right: calc(50% - 500px);
  margin: -20px;
  height: 450px;
  width: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.About_2_Bild {
  overflow-x: hidden;
  position: absolute;
  top: 3000px;
  right: calc(50% - 630px);
}

.What_do_I_do {
  overflow-x: hidden;
  position: absolute;
  padding-left: 40px;
  top: 2950px;
  right: calc(50% + 200px);
  font-size: 2.0rem;

  color: white;

  background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.What_do_I_do_txt {
  overflow-x: hidden;
  padding-left: 40px;
  position: absolute;
  top: 3075px;
  right: calc(50% + 50px);
  font-size: 1.5rem;
}

.divider_1 {
  overflow-x: hidden;
  position: absolute;
  top: 3750px;
  right: 0px;
  width: 100%;
  height: 350px;
  transform: rotate(-5deg);
  transform: skewY(-8deg);
  background-image: linear-gradient(#141414, #444343, #f7f7f7);
}

.divider_2 {
  overflow-x: hidden;
  position: absolute;
  top: 6300px;
  right: 0px;
  width: 100%;
  height: 350px;
  transform: rotate(-5deg);
  transform: skewY(-8deg);
  background-image: linear-gradient(#f7f7f7, #444343, #131111);
}

.background_2{
  overflow-x: hidden;
  position: absolute;
  top: 4099px;
  right: 0px;
  width: 100%;
  height: 2203px;
  transform: rotate(-5deg);
  transform: skewY(-8deg);
  background-color: #f7f7f7;
}

.First_Box_text{
  overflow-x: hidden;
  position: absolute;
  top: 50px;
  right: calc(50% - 240px);
  font-size: 2.2rem;
  color: white;
  font-family: sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.First_Box_text_2{
  overflow-x: hidden;
  top: 10px;
  position: absolute;
  right: calc(50% - 95px);
  color: #ffffff;
  
  font-family: sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.First_Box_text_3{
  overflow-x: hidden;
  padding-right: calc(-5% + 200px);
  position: absolute;
  top: 290px;
  right: calc(50% - 625px);
  color: #ffffff;
  font-size: larger;
  
  font-family: sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Box_Image{
  overflow-x: hidden;
  top: 170px;
  position: absolute;
  right: calc( 50% - 200px);
}

.First_Box{
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 4400px;
  right: calc(2.35% - 55px);
  margin: 40px;
  height: 750px;
  width: 96.4%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: black;


  display: block;
  box-shadow: rgb(83, 90, 90) 1px 1px 0,
              rgb(83, 90, 90)2px 2px 0,
              rgb(83, 90, 90)3px 3px 0,
              rgb(83, 90, 90)4px 4px 0,
              rgb(83, 90, 90)5px 5px 0,
              rgb(83, 90, 90)6px 6px 0,
              rgb(83, 90, 90)7px 7px 0,
              rgb(83, 90, 90)8px 8px 0;
}



.Second_Box_text{
  overflow-x: hidden;
  position: absolute;
  top: 50px;
  right: calc(50% - 215px);
  font-size: 2.2rem;
}

.Second_Box_text_2{
  overflow-x: hidden;
  position: absolute;
  top:125px;
  right: calc(50% - 175px);
  color: #000000;

}

.Second_Box_Image{
  overflow-x: hidden;
  position: absolute;
  top: 100px;
  right: calc(50% - 620px);
}

.Second_Box{
  overflow-x: hidden;
  position: absolute;
  top: 5200px;
  right: calc(51.6% - 50px);
  margin: 40px;
  height: 810px;
  width: 47%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: black;


  display: block;
  box-shadow: rgb(83, 90, 90) 1px 1px 0,
              rgb(83, 90, 90)2px 2px 0,
              rgb(83, 90, 90)3px 3px 0,
              rgb(83, 90, 90)4px 4px 0,
              rgb(83, 90, 90)5px 5px 0,
              rgb(83, 90, 90)6px 6px 0,
              rgb(83, 90, 90)7px 7px 0,
              rgb(83, 90, 90)8px 8px 0;
}

.Third_Box_text{
  overflow-x: hidden;
  position: absolute;
  top: 50px;
  right: calc(50% - 100px);
  font-size: 2.2rem;
}

.Third_Box_text_2{
  overflow-x: hidden;
  position: absolute;
  top: 120px;
  right: calc(50% - 120px);
  color: #000000;

}

.Third_Box_Image{
  overflow-x: hidden;
  position: absolute;
  top: 200px;
  right: calc(50% - 280px);
  border-radius: 20px;
  
}

.Third_Box{
  overflow-x: hidden;
  position: absolute;
  top: 5200px;
  right: calc(2.5% - 55px);
  margin: 40px;
  height: 810px;
  width: 47%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: black;



  display: block;
  box-shadow: rgb(83, 90, 90) 1px 1px 0,
              rgb(83, 90, 90)2px 2px 0,
              rgb(83, 90, 90)3px 3px 0,
              rgb(83, 90, 90)4px 4px 0,
              rgb(83, 90, 90)5px 5px 0,
              rgb(83, 90, 90)6px 6px 0,
              rgb(83, 90, 90)7px 7px 0,
              rgb(83, 90, 90)8px 8px 0;
}

.Work_Rahmen {
  overflow-x: hidden;
  position: absolute;
  top: 7000px;
  right: calc(50% - 100px);
  margin: 10px;
  height: 450px;
  width: 450px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
}

.Work__Headline {
  overflow-x: hidden;
  position: absolute;
  top: 7100px;
  right: calc(50% - 475px);
  font-size: 3rem;

  color: white;

  background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.Work__Headline_2 {
  overflow-x: hidden;
  position: absolute;
  top: 7175px;
  right: calc(50% - 540px);
  font-size: 1rem;

  color: white;


}

.main__btn {
  overflow-x: hidden;
  font-size: 1.8rem;
  background: white;
  background: -webkit-linear-gradient(to right, #011640, #010D26, #fc00ff);
  background: linear-gradient(to right, #1B516E, #297AA6, #36A0D9);
  padding: 20px 90px;
  border: none;
  border-radius: 6px;
  margin-top: 5rem;
  cursor: pointer;
  position: absolute;
  top: 7200px;
  right: calc(50% - 525px);
  transition: all 0.35s;
  outline: none;
  
}


.main__btn:hover {
  overflow-x: hidden;
  cursor: pointer;
}

.main__btn:hover {
  overflow-x: hidden;
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.resume__btn{
  overflow-x: hidden;
  font-size: 1.8rem;
  background: white;
  background: -webkit-linear-gradient(to right, #011640, #010D26, #fc00ff);
  background: linear-gradient(to right, #1B516E, #297AA6, #36A0D9);
  padding: 20px 90px;
  border: none;
  border-radius: 6px;
  margin-top: 5rem;
  cursor: pointer;
  position: absolute;
  top: 7300px;
  right: calc(50% - 525px);
  transition: all 0.35s;
  outline: none;
}

.resume__btn:hover {
  overflow-x: hidden;
  cursor: pointer;
}

.resume__btn:hover {
  overflow-x: hidden;
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.Work__Header {
  overflow-x: hidden;
  position: absolute;
  top: 6850px;
  right: calc(50% - 50px);
  font-size: 3rem;
  color: #1a1818;
  text-shadow: 2px 2px 0px #ffffff, -2px -2px 0px #ffffff, 0px 0px 8px #ffffff;
}


/*
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 3px solid rgb(0, 0, 0); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  margin-left: 400px;
  text-align: center;
  width: 200px;
  background-color: #13d8adc2;
  color: white;
  padding: 20px 70px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a085;
}

form #website{ display:none; }

.contact {
  height: 650px;
  width: 1050px;
  position: absolute;
  top:7670px;
  right: calc(50% - 575px);
  border-radius: 5px;
  background: linear-gradient(45deg, #0f0f0f, #141414, #1C1919, #191716);
  padding: 20px;
}
*/



.footer__container {
  width: 100%;
  background-color: #131313;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 10px;
  color: #fff;
}


.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto 0 auto;
}

.website__rights {
  color: #fff;
}


@media screen and (max-width: 1400px) {
  .services__card {

  margin: 15px;
  height: 425px;
  width: 250px;

  }

  .services__wrapper {
    overflow-x: hidden;
    position: absolute;
    top: 50px;
    right: calc(50% - 550px);

  }

  .picture_1{
    overflow-x: hidden;
    position: absolute;
    top: 250px;
    right: calc(50% + 330px);
  }
  
  .picture_2{
    overflow-x: hidden;
    position: absolute;
    top: 280px;
    right: calc(50% + 80px);
  }
  
  .picture_3{
    overflow-x: hidden;
    position: absolute;
    top: 280px;
    right: calc(50% - 200px);
  }
  
  .picture_4{
    overflow-x: hidden;
    position: absolute;
    top: 280px;
    right: calc(50% - 485px);
  }
}

@media screen and (max-width: 1100px) {
  .services__card {

  margin: 5px;
  height: 425px;
  width: 200px;

  }

  .services__wrapper {
    overflow-x: hidden;
    position: absolute;
    top: 50px;
    right: calc(50% - 425px);

  }

  #stack {
  overflow-x: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
}

#engineer {
  overflow-x: hidden;
  position: absolute;
  top: 0px;
  right: 70px;
}

#twitter {
  overflow-x: hidden;
  position: absolute;
  top: 15px;
  right: 150px;
}

  .picture_1{
    overflow-x: hidden;
    position: absolute;
    top: 250px;
    right: calc(50% + 185px);
    width: 225px;
  }
  
  .picture_2{
    overflow-x: hidden;
    position: absolute;
    top: 280px;
    right: calc(50% + 25px);
  }
  
  .picture_3{
    overflow-x: hidden;
    position: absolute;
    top: 280px;
    right: calc(50% - 185px);
  }
  
  .picture_4{
    overflow-x: hidden;
    position: absolute;
    top: 280px;
    right: calc(50% - 400px);
  }



  .About__Header {
    overflow-x: hidden;
    position: absolute;
    top: 1850px;
    right: calc(50% - 150px);
    font-size: 3rem;
    color: white;
  
  }
  
  .Who_am_I {
    overflow-x: hidden;
    padding-right: 50px;
    position: absolute;
    top: 2155px;
    right: calc(50% - 335px);
    font-size: 2rem;
  
    color: white;
  
    background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .Who_am_I_txt {
    overflow-x: visible;
    padding-right: 70px;
    position: absolute;
    top: 2255px;
    right: calc(50% - 480px);
    font-size: 1.1rem;
  }
  
  .About_1_Rahmen {
    overflow-x: hidden;
    padding-left: 50px;
    position: absolute;
    top: 2150px;
    right: calc(50% + 70px);
    margin: 10px;
    height: 350px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  }
  
  .About_1_Bild {
    overflow-x: hidden;
    padding-left: 50px;
    position: absolute;
    top: 2200px;
    right: calc(50% - 45px);
  }
  
  .About_2_Rahmen {
    overflow-x: hidden;
    position: absolute;
    top: 2975px;
    right: calc(50% - 400px);
    margin: -20px;
    height: 350px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  }
  
  .About_2_Bild {
    position: absolute;
    top: 2960px;
    right: calc(50% - 585px);
  }
  
  .What_do_I_do {
    overflow-x: hidden;
    position: absolute;
    padding-left: 40px;
    top: 2975px;
    right: calc(50% + 50px);
    font-size: 2.0rem;
  
    color: white;
  
    background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .What_do_I_do_txt {
    overflow-x: hidden;
    padding-left: 40px;
    position: absolute;
    top: 3075px;
    right: calc(50% - 60px);
    font-size: 1.1rem;
  }

  .Work_Rahmen {
    overflow-x: hidden;
    position: absolute;
    top: 7000px;
    right: calc(50% - 100px);
    margin: 10px;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
  }
  
  .Work__Headline {
    overflow-x: hidden;
    position: absolute;
    top: 7100px;
    right: calc(50% - 375px);
    font-size: 3rem;
  
    color: white;
  
    background-image: linear-gradient(45deg, #fc00ff, #297AA6, #0F345C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  
  .Work__Headline_2 {
    overflow-x: hidden;
    position: absolute;
    top: 7175px;
    right: calc(50% - 420px);
    font-size: 1rem;
  
    color: white;
  }
  
  .main__btn {
    overflow-x: hidden;
    font-size: 1.8rem;
    background: white;
    background: -webkit-linear-gradient(to right, #011640, #010D26, #fc00ff);
    background: linear-gradient(to right, #1B516E, #297AA6, #36A0D9);
    padding: 20px 90px;
    border: none;
    border-radius: 6px;
    margin-top: 5rem;
    cursor: pointer;
    position: absolute;
    top: 7200px;
    right: calc(50% - 425px);
    transition: all 0.35s;
    outline: none;
    
  }
  
  .resume__btn{
    overflow-x: hidden;
    font-size: 1.8rem;
    background: white;
    background: -webkit-linear-gradient(to right, #011640, #010D26, #fc00ff);
    background: linear-gradient(to right, #1B516E, #297AA6, #36A0D9);
    padding: 20px 90px;
    border: none;
    border-radius: 6px;
    margin-top: 5rem;
    cursor: pointer;
    position: absolute;
    top: 7300px;
    right: calc(50% - 425px);
    transition: all 0.35s;
    outline: none;
  }
  
  .Work__Header {
    overflow-x: hidden;
    position: absolute;
    top: 6850px;
    right: calc(50% - 50px);
    font-size: 3rem;
    color: white;
  }

  .First_Box_text_3{
    overflow-x: hidden;
    padding-right: calc(-5% + 200px);
    position: absolute;
    top: 290px;
    right: calc(50% - 565px);
    color: #ffffff;
    font-size: medium;
    
    font-family: sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

}